@import '@fontsource-variable/public-sans/wght.css';
@import '@fontsource-variable/public-sans/wght-italic.css';

@property --color-bg {
	syntax: '<color>';
	initial-value: rgba(0, 0, 0, 0);
	inherits: true;
}
@property --color-surface {
	syntax: '<color>';
	initial-value: rgba(0, 0, 0, 0);
	inherits: true;
}
@property --color-text {
	syntax: '<color>';
	initial-value: rgba(0, 0, 0, 0);
	inherits: true;
}
@property --color-text-faded {
	syntax: '<color>';
	initial-value: rgba(0, 0, 0, 0);
	inherits: true;
}

:root {
	@include variables;

	@media (prefers-color-scheme: dark) {
		@include variablesDark;
	}
}

[data-theme='dark'] {
	@include variablesDark;
}

[data-theme='light'] {
	@include variables;
}

* {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Public Sans Variable', sans-serif;

	margin: 0;
	padding: 0;

	background-color: var(--color-bg);
	color: var(--color-text);
	accent-color: var(--color-accent);

	@include animate;
}

a {
	color: inherit;
	text-decoration: underline dotted currentColor;
}
